/* Productos */

.listaProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 10px;
  column-gap: 10px;
}
  
  .ajusteDeTarjeta{
    height: 35vh;
    width: 30vh;
    box-shadow: 2px 2px rgba(216, 112, 112, 0.2);
  }

  div .tarjeta {
    height: 30vh;
  }
  
  .imgTarjeta{
    width: 50%;
    height: 35%;
    object-fit: contain;
    margin: auto;
    border-radius: 5px;
  }
  
  .card {
    border-radius: 15px;
    text-align: center;
  }

.tituloTarjeta{
  font-size: 25px;
  height: 40px;
  margin: 10px;
}

  .descripcion{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 20px;
  }
  
  .mainProductos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    margin: 5%;
  }
  
  .botonTarjeta {
    margin: 5px;
  }

  /* Productos fin */

/* Buscador por categoría */

.menuDesplegable{
  display: block;
  margin: 0 100px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px; 
}

.btnDesplegable{
  color: #ffff;
  margin: auto;
}

