/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header incio */

.elementos {
  display: flex;
  align-items: flex-start;
}

.menuFondo {
  background-color: #D87070;
}

.logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 4vh;
}

.header .logo a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
}

.logo a:hover {
  color: white;
}

.header .contenedorLogo{
  margin: 50px 5%;
}

.menu{
  display: inline;
  align-content: center;
  width: 50%;
}

.iconoPerfil{
  color: white;
  margin: 5px;
}

.items {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}


.menu .items li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2vh;
}

.menu .items li a:hover{
  text-decoration: none;
  color: white;
}

.menu .buscador form a i{
  color: rgba(255, 255, 255, 0.781);
}

.menu .buscador form a i:hover {
  color: white;
}

.menu .buscador form input{
  width: 94%;
  height: 8vh;
  border-radius: 20px;
  margin: 5% 0 0 0;
  border: none;
  padding-left: 5vh;
  margin-right: 2vh;
}

.menu .buscador form input::placeholder{
  color: #D87070;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.menu .buscador form input:focus{
  outline: none;
}

.items li{
  margin: 1vh 15px;
}

.cuenta a, ul .cuenta{
  position: absolute;
  top: 5%;
  right: 5%;
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.781);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2vh;
}

.cuenta a{
  width: 10vw;
}
/* Header fin */

/* Botón */

.btnColor {
  background-color: #D87070!important;
  border-color: #D87070 !important;
}

.btnColorCarrusel {
  color: #D87070 !important;
  font-size: 5vh;
}
/*Botón fin */

/* Relleno de página, cambiar */
.construccion {
  margin: auto;
  width: 50%;
}

.imagenConstruccion {
  width: 100%;
}

/*Footer*/

.footer {
  background-color: rgba(216, 112, 112, 1);
  padding: 2vh;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Iconos */
.iconos a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
}

.iconos a:hover {
  color: white;
}

.iconos {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  justify-content: end;
  letter-spacing: 5vh;
  font-size: 3vh;
}

/* El footer no se posiciona bien */

.mainVacio {
  height: 100vh !important;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #D87070; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #ec9f9f;
}