* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (min-width: 1200px) {
/* Header incio */

.contenedor {
  width: 90%;
  margin: auto;
}

.elementos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: .6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 
  "logo menu1";
}

.menuFondo {
  background-color: #D87070;
  height: 154px;
}

.logo{
  font-size: 65px;
  display: contents;
}

.header .logo a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
}

.logo a:hover {
  color: white;
}

.header .contenedorLogo{
  display: flex;
  grid-area: logo;
  justify-content: start;
  align-items: center;
}

.menu{
  display: inline;
  grid-area: menu1;
}

.iconoPerfil{
  color: white;
  margin: 5px;
}

.items {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}


.menu .items li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
  display: inline;
}

.menu .items li a:hover{
  text-decoration: none;
  color: white;
}

.menu .buscador form a i{
  color: rgba(255, 255, 255, 0.781);
  width: 10000px;
}

.menu .buscador form a i:hover {
  color: white;
}

.menu .buscador form input{
  width: 658px;
  height: 54px;
  border-radius: 20px;
  margin-top: 50px;
  
}

.menu .buscador form input::placeholder{
  color: #D87070;
  padding-left: 1vh;
}

.items li{
  margin: 1vh 15px;
}

.elementos .menu{
  width: auto;
}

/* Header fin */

/* Carrusel inicio*/

.carousel-inner{
  display: contents;
}

.carousel-item {
  text-align: center;
  margin: 10% 0;
}

.carruselFondo {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/102/791/small/soft-blurred-pastel-holographic-design.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.formaCarrusel {
  border-radius: 3vh !important;
  height: 50vh;
  width: 90%;
}

.parrafoCarrusel{
  font-size: 3vh;
}

.encabezadoCarrusel{
  color:white;
  text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
}

/* Carrusel fin */

/* Botón */

.btnColor {
  background-color: #D87070!important;
  border-color: #D87070 !important;
}

.btnColorCarrusel {
  color: #D87070 !important;
  font-size: 5vh;
}

/*Botón fin */

/* Fomulario de contacto */
.formularioContacto {
  background-color: rgba(216, 112, 112, 0.5);
  border-radius: 10px;
  width: 40%;
  margin: auto;
}

.labelColor {
  background-color: white !important;
  opacity: 0.5 !important;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #D87070;
}
.inputColor {
  background-color: white !important;
  opacity: 0.5 !important;
}

input[type="checkbox"] {
  appearance: none;
  color: #D87070;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #D87070;
  border-radius: 0.15em;
  display: inline-grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #D87070;
  border: 0.15em #D87070;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Formulario de contacto fin */

/* Relleno de página, cambiar */
.construccion {
  margin: auto;
  width: 50%;
}

.imagenConstruccion {
  width: 100%;
}


/* Productos */

.listaProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ajusteDeTarjeta{
  height: 60vh !important;
  width: 18rem;
  box-shadow: 2px 2px rgba(216, 112, 112, 0.2);
}

.imgTarjeta{
  width: 50%;
  height: 20vh;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
}

.tituloTarjeta{
  height: 15vh;
  font-size: 4vh;
}

.card {
  margin: 5vh;
  border-radius: 15px !important;
  display: flex;
  text-align: center;
}

.descripcion{
  height: 15vh;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mainProductos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  margin: 5vh;
}

/* Productos fin */

/*Footer*/

.footer {
  background-color: rgba(216, 112, 112, 1);
  padding: 2vh;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Iconos */
.iconos a {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
}

.iconos a:hover {
  color: white;
}

.iconos {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  justify-content: end;
  letter-spacing: 5vh;
  font-size: 3vh;
}

/* El footer no se posiciona bien */

.mainVacio {
  height: 100vh !important;
}


}


/* Responsive Desing*/

@media (max-width: 768px) {
  /* Header incio */
  
  .contenedor {
    width: 90%;
    margin: auto;
  }
  
  .elementos {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: .6fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "logo menu1";
  }
  
  .menuFondo {
    background-color: #D87070;
    text-align: center;
  }
  
  .logo{
    font-size: 2vh;
    display: flex;
    margin-right: 1vh;
  }
  
  .header .logo a {
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
  }
  
  .logo a:hover {
    color: white;
  }
  
  .header .contenedorLogo{
    display: flex;
    grid-area: logo;
    justify-content: start;
    align-items: center;
  }
  
  .menu{
    display: flex ;
    flex-wrap: wrap;
    grid-area: menu1;
  }
  
  .iconoPerfil{
    color: white;
    margin: 1px;
    display: none;
  }
  
  .items {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .menu .items li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    display: inline;
  }
  
  .menu .items li a:hover{
    text-decoration: none;
    color: white;
  }
  
  .menu .buscador form a i{
    color: rgba(255, 255, 255, 0.781);
    width: 5px;
  }
  
  .menu .buscador form a i:hover {
    color: white;
  }
  
  .menu .buscador form input{
    width: 30vh;
    height: 3vh;
    border-radius: 4vh;
    margin-top: 8.5vh;
    
  }
  
  .menu .buscador form input::placeholder{
    color: #D87070;
    padding-left: 1vh;
  }
  
  .items li{
    margin: 1vh 1vh;
  }
  
  /* Header fin */
  
  /* Carrusel inicio*/
  
  .carousel-inner{
    display: contents;
  }
  
  .carousel-item {
    text-align: center;
    margin: 10% 0;
  }
  
  .carruselFondo {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/102/791/small/soft-blurred-pastel-holographic-design.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  .formaCarrusel {
    border-radius: 3vh !important;
    height: 20vh;
    width: 90%;
  }
  
  .parrafoCarrusel{
    font-size: 1vh;
  }
  
  .encabezadoCarrusel{
    color:white;
    text-shadow: 1px  0px 0px black,
                 0px  1px 0px black,
                -1px  0px 0px black,
                 0px -1px 0px black;
  }
  
  /* Carrusel fin */
  
  /* Botón */
  
  .btnColor {
    background-color: #D87070!important;
    border-color: #D87070 !important;
  }
  
  .btnColorCarrusel {
    color: #D87070 !important;
    font-size: 5vh;
  }
  
  /*Botón fin */
  
  /* Fomulario de contacto */
  .formularioContacto {
    background-color: rgba(216, 112, 112, 0.5);
    border-radius: 10px;
    width: 40%;
    margin: auto;
  }
  
  .labelColor {
    background-color: white !important;
    opacity: 0.5 !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #D87070;
  }
  .inputColor {
    background-color: white !important;
    opacity: 0.5 !important;
  }
  
  input[type="checkbox"] {
    appearance: none;
    color: #D87070;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #D87070;
    border-radius: 0.15em;
    display: inline-grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #D87070;
    border: 0.15em #D87070;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  /* Formulario de contacto fin */
  
  /* Relleno de página, cambiar */
  .construccion {
    margin: auto;
    width: 50%;
  }
  
  .imagenConstruccion {
    width: 100%;
  }
  
  
  /* Productos */
  
  .listaProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .ajusteDeTarjeta{
    height: 60vh !important;
    width: 18rem;
    box-shadow: 2px 2px rgba(216, 112, 112, 0.2);
  }
  
  .imgTarjeta{
    width: 50%;
    height: 20vh;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .tituloTarjeta{
    height: 15vh;
    font-size: 4vh;
  }
  
  .card {
    margin: 5vh;
    border-radius: 15px !important;
    display: flex;
    text-align: center;
  }
  
  .descripcion{
    height: 15vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .mainProductos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    margin: 5vh;
  }
  
  /* Productos fin */
  
  /*Footer*/
  
  .footer {
    background-color: rgba(216, 112, 112, 1);
    padding: 2vh;
    z-index: 200;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* Iconos */
  .iconos a {
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
  }
  
  .iconos a:hover {
    color: white;
  }
  
  .iconos {
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: end;
    letter-spacing: 5vh;
    font-size: 3vh;
  }
  
  /* El footer no se posiciona bien */
  
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
